<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
		td{
			padding:4px;
		}
		h1{
			padding:10px;
		}








    </style>
    <link href="css/masterPage.css" rel="stylesheet" type="text/css">
    <title>SGP - Sistema de Gerenciamento de Projetos</title>
</head>

<body>
<div th:replace="fragments/leftTab :: leftTab"></div>
<div id="">
    <h1>Criar nova Task</h1>
    <form class="container" method="post">
        <table>
            <tr>
                <td>Número da Task:</td>
                <td><input class="form-control" id="number" name="number" type="text" value=""/></td>
            </tr>
            <tr>
                <td>User:</td>
                <td><select class="form-control" name="user.userId">
                    <option th:text="SELECIONE" value="0"></option>
                    <option th:each="user : ${users}"
                            th:text="${user.name}"
                            th:value="${user.userId}"/>
                </select></td>
            </tr>
            <tr>
                <td>Prioridade:</td>
                <td>
                    <select class="form-control" name="priority">
                        <option th:value="0">Muito Alta</option>
                        <option th:value="1">Alta</option>
                        <option th:value="2">Media</option>
                        <option th:value="3">Baixa</option>
                        <option th:value="4">Baixissima</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Time:</td>
                <td><select class="form-control" name="team.teamId">
                    <option th:text="SELECIONE" value="0"></option>
                    <option th:each="team : ${teams}"
                            th:text="${team.name}"
                            th:value="${team.teamId}"/>
                </select></td>
            </tr>
            <tr>
                <td>Sprint:</td>
                <td><select class="form-control" name="sprint.sprintId">
                    <option th:text="SELECIONE" value="0"></option>
                    <option th:each="sprint : ${sprints}"
                            th:text="'Sprint ' + ${sprint.number} + ' - ' + ${sprint.team.name}"
                            th:value="${sprint.sprintId}"/>
                </select></td>
            </tr>
            <tr>
                <td>Descrição da task:</td>
                <td><input class="form-control" id="description" name="description" type="text" value=""/></td>
            </tr>
            <tr>
                <td>
                </td>
                <td align="right">
                    <a href="/tasks">
                        <button class="btn btn-primary" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span> Voltar
                        </button>
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span> Salvar
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>

