<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/jquery.mask.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <style>
		td{
			padding:4px;
		}
		h1{
			padding:10px;
		}
        #description{
            height: 175px;
            width: 400px;
        }
    </style>
    <link href="../css/masterPage.css" rel="stylesheet" type="text/css">
    <title>SGP - Sistema de Gerenciamento de Projetos</title>
</head>

<body>
<div th:replace="fragments/leftTab :: leftTab"></div>
<div id="page">
    <h1>Atualizar Tarefa</h1>
    <form class="container" method="post">
        <table style="float: left;">
            <tr>
                <td>Número da Tarefa:</td>
                <td><input class="form-control" id="number" name="number" th:value="${task.number}" type="text"/></td>
            </tr>
            <tr>
                <td>User:</td>
                <td><select class="form-control" name="user.userId">
                    <option th:text="SELECIONE" value="0"></option>
                    <option th:each="user : ${users}"
                            th:selected="(${user.userId} == *{task.user.userId})"
                            th:text="${user.name}"
                            th:value="${user.userId}"/>
                </select></td>
            </tr>
            <tr>
                <td>Prioridade:</td>
                <td>
                    <select class="form-control" name="priority">
                        <option th:value="0" th:selected="${task.priority}==0">Muito Alta</option>
                        <option th:value="1" th:selected="${task.priority}==1">Alta</option>
                        <option th:value="2" th:selected="${task.priority}==2">Media</option>
                        <option th:value="3" th:selected="${task.priority}==3">Baixa</option>
                        <option th:value="4" th:selected="${task.priority}==4">Baixissima</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Time:</td>
                <td><select class="form-control" name="team.teamId">
                    <option th:text="SELECIONE" value="0"></option>
                    <option th:each="team : ${teams}"
                            th:selected="(${team.teamId} == *{task.team.teamId})"
                            th:text="${team.name}"
                            th:value="${team.teamId}"/>
                </select></td>
            </tr>
            <tr>
                <td>Sprint:</td>
                <td><select class="form-control" name="sprint.sprintId">
                    <option th:text="SELECIONE" value="0"></option>
                    <option th:each="sprint : ${sprints}"
                            th:selected="(${sprint.sprintId} == *{task.sprint.sprintId})"
                            th:text="'Sprint ' + ${sprint.number} + ' - ' + ${sprint.team.name}"
                            th:value="${sprint.sprintId}"/>
                </select></td>
            </tr>
        </table>
        <table>
            <tbody>
            <tr><td>Descrição da tarefa:</td></tr>
            <tr>
                <td><textarea class="form-control" id="description" name="description"
                                  th:field="${task.description}"/></textarea></td>
            </tr>
            <tr>
                <td align="right">
                    <a href="/tasks">
                        <button class="btn btn-primary" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span> Voltar
                        </button>
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span> Salvar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>

