<html>
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>SGC - Sistema de Gerenciamento de Projetos</title>
    <link href="css/masterPage.css" rel="stylesheet">
</head>

<div th:fragment="leftTab">
    <nav id="menu">
        <ul>
            <li id="top">
                <span id="title">SGP</span>
            </li>
            <li>
                <div>
                    <a href="/tasks"><h4>Tasks</h4></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/sprints"><h4>Sprints</h4></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/teams"><h4>Times</h4></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/users"><h4>Users</h4></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/logout"><h4>Logout</h4></a>
                </div>
            </li>
        </ul>
    </nav>
</div>
</html>