<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/masterPage.css" rel="stylesheet" type="text/css">
    <title>SGC - Sistema de Gerenciamento de Projetos</title>
    <style>
		#td{
			width: 50%;
			margin-left: 120px;
			margin-top:15px;
			padding:1px;
		}
		#pad{
			padding:2px;
		}
    </style>
</head>

<body>
<div th:replace="fragments/leftTab :: leftTab"></div>
<div id="page">
    <h1>Lista de Usuários</h1>
    <div>
        <a href="/createUser">
            <button class="btn btn-primary" type="button">
                <span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Cadastrar Usuário
            </button>
        </a>
        <a href="/">
            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-home"></span></button>
        </a>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <td><b># Usuario</b></td>
            <td><b>Nome</b></td>
            <td><b>Login</b></td>
            <td><b>Tipo</b></td>
            <td><b>Editar</b></td>
            </thead>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.userId}"></span></td>
                <td><span th:text="${user.name}"></span></td>
                <td><span th:text="${user.login}"></span></td>
                <td><span class="type" th:text="${user.type}"></span></td>
                <td>
                    <a th:href="${(#mvc.url('UC#editUser').arg(0, user.userId)).build()}" data-toggle="tooltip" data-placement="bottom" title="Editar Usuario">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
<script>
    $(document).ready(function(){
		$(".type").each(function(){
			let type = $(this).text();
			switch(type){
			    case "0":
			        $(this).text("Administrador");
			        break;
			    case "1":
			        $(this).text("Project Manager");
			        break;
			    case "2":
			        $(this).text("Scrum Master");
			        break;
			    case "3":
			        $(this).text("Developer");
			        break;
			}
		});
		$(".date").each(function(){
			let date = $(this).text();
			let year  = date.substring(0,4);
			let month = date.substring(5,7);
			let day   = date.substring(8,10);
			$(this).text(day + "/" + month + "/" + year);
		});
	});
</script>
</html>

